<!DOCTYPE html>

<footer>
    <div id="contact-1">
        <div class="contact-phone">
            <div class="contact-icon">
                <i class="fas fa-phone"></i>
            </div>
            <p>+44 (0) 870 707 0757</p>
        </div>
        <div class="contact-email">
            <div class="contact-icon">
                <i class="fas fa-envelope"></i>
            </div>
            <p>meaghan@digitalmaggs.com</p>
        </div>
        <div class="contact-social">
            <div class="social-logo">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="social-logo">
                <i class="fab fa-linkedin-in"></i>
            </div>
            <div class="social-logo">
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
    <div id="divider"></div>
    <div id="contact-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
</footer>
