<!DOCTYPE html>

<footer>
    <div id="contact-1">
        <div class="contact-phone">
            <div class="contact-icon">
                <i class="fas fa-phone"></i>
            </div>
            <p>+49 (0) 177 706 1368</p>
        </div>
        <div class="contact-email">
            <div class="contact-icon">
                <i class="fas fa-envelope"></i>
            </div>
            <a href="mailto:digitalmagss@gmail.com">digitalmagss@gmail.com</a>
        </div>
        <div class="contact-social">
            <a href="https://twitter.com/digital_magss" target="_blank">
                <div class="social-logo">
                    <i class="fab fa-twitter"></i>
                </div>
            </a>
            <a href="https://www.linkedin.com/in/meaghan-johnson-b5506613/" target="_blank">
                <div class="social-logo">
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </a>
            <a href="https://medium.com/@digitalmagss" target="_blank">
                <div class="social-logo">
                    <i class="fab fa-medium-m"></i>
                </div>
            </a>

        </div>
    </div>
    <div id="divider"></div>
    <div id="contact-2">
        <p>Impressum</p>
    </div>
</footer>
