<!DOCTYPE html>

<header>
    <div id="header-outer">
        <div class="header-fox">
            Logo
        </div>

        <div id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </div>

</header>
