<!DOCTYPE html>

<header>
    <div id="header-outer">
        <div class="header-fox">
            <img src="/img/fox.png" class="fox-logo" alt="fox-logo">
        </div>

        <div id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </div>

</header>
