<!DOCTYPE html>
<html lang="en" dir="ltr">

    <div id="modal-outer" class="hidden">
        <div id="modal-inner">
            <div class="nav-header">
                <div class="nav-fox">
                    <img src="fox.png" class="fox-logo" alt="fox-logo">
                </div>
                <div id="nav-x">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="nav-main">
                <h1><a class="nav" href="#about">About</a></h1>
                <h1><a class="nav" href="#principles">Principles</a></h1>
                <h1><a class="nav" href="#work">Work</a></h1>
                <h1><a class="nav" href="#partners">Partners</a></h1>
                <!-- <h1><a class="nav" href="#blog">Blog</a></h1> -->
                <h1><a class="nav" href="#contact">Contact</a></h1>
            </div>
            <div class="nav-divider"></div>
            <div class="nav-footer">
                <div class="nav-social">
                    <div class="nav-social-logo">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="nav-social-logo">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="nav-social-logo">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
