<!DOCTYPE html>


<div id="scroll-box">

    <div id="home" class="one-page">
        <div id="home-text">
            <h1>Digital Mags</h1>
            <h2>Customer experience and strategy consultancy for banks, startups and company builders</h2>
            <h2><span id="hero-span-1">Fintech Researcher </span><span id="hero-span-2">| Customer Journey Expert </span><span id="hero-span-3">| Strategy Consultant </span><span id="hero-span-4">| UX Design</h2>
        </div>
        <div id="home-ornament-1"></div>
        <div id="home-ornament-2"></div>
        <div id="home-ornament-3"></div>
    </div>

    <div id="about" class="one-page">
        <div id="about-logo">
            <div class="about-ornament-1"></div>
            <div id="bloom-div"><image id="bloom-ornament"src="bloom.svg"></div>
            <div class="about-ornament-2"></div>
        </div>
        <div id="about-text">
            <div id="about-1">
                <h2>Hello! I’m Meaghan and I help banks, fintechs and company builders create innovative digital customer experiences by providing deep insights that explore the competitor landscape, customer nuances and technology trends.</h2>

            </div>
            <div id="about-2">
                <p>I am a fintech generalist and have launched research platforms, designed mobile customer experiences, conducted customer testing, facilitated bank and fintech partnerships and demystified emerging technologies for banks. </p>
                </br>
                <p>I have 8 years experience in the London and Berlin digital financial services sector and I have worked with over 30 financial service companies globally.</p>
            </div>
        </div>
        <div class="flourish-div">
            <image id="flourish-ornament" src="flourish.svg">
        </div>
    </div>

    <div id="principles" class="one-page">
        <div id="pinciples-headline">
            <image id="principles-ornament" src="principles.svg">
            <h2>Principles</h2>
        </div>
        <div id="principles-text">
            <div id="principles-1">
                <div class="three-principles">
                    <p>My research and advice is based on the belief that truly innovative digital customer experiences are based on three principles
                    </p>
                </div>
                <div class="three-principles">
                    <div class="principles-number">1.</div>
                    <a href="">
                        <p>Apply the Jobs to be Done Framework - Innovation come from understanding why a user starts a job and how they complete it.
                        </p>
                    </a>
                </div>
                <div class="three-principles">
                    <div class="principles-number">2.</div>
                    <a href="">
                        <p>Understanding cultural nuances will ensure experiences are relevant
                        </p>
                    </a>
                </div>
                <div class="three-principles">
                    <div class="principles-number">3.</div>
                    <a href="">
                        <p>Don’t reinvent the wheel, learn from your competitors and leaders in other industries
                        </p>
                    </a>
                </div>

            </div>
            <div id="principles-2">
                <div class="principles-text-1">
                    <p>Using The Job to be Done Framework uncovers pockets of innovation in existing tasks, but also leads to new products and services which typically solve pain points in complete tasks. This is done by focusing on the why and how rather than the who is doing the job (a persona approach)</p>
                </div>
                <div class="principles-text-1 smaller-font">
                    <p>Applying this framework to CX development in financial services requires deep engagement with customers and markets. To understand gaps in the freelancing market, study the life of a freelancer for two days to understand where time is wasted. Looking to launch a bank account focused on expats coming to Germany? Understand the challenges with registering and finding a flat to create a complementary service with your banking product to capture market share</p>
                </div>
            </div>


        </div>
    </div>

    <div id="work" class="one-page">
        <div id="work-headline">
            <div id="work-logo">
                <div class="work-ornament-1"></div>
                <!-- <image class="work-ornament" src="work.svg"> -->
                <div class="work-ornament-1"></div>
            </div>

            <h2>Work</h2>
        </div>
        <div class="work-box">
            <h3>Research</br> and Consulting</h3>
            <div class="work-ornament-2"></div>
            <p>Whether it be helping you understand your competitors digital journeys, providing inspiration of digital best practices, identifying fintechs of strategic interest, or exploring the potential of emerging technology such as blockchain and decentralised marketplaces I can quickly produce deliverables to meet your business requirements. My research is consultative in nature, as I work to understand the implication for you, your team and the business. </p>
        </div>
        <div class="work-box">
            <h3>Product</br> Development</h3>
            <div class="work-ornament-2"></div>
            <p>I support startups, banks and company builders in the early stages of product development. This includes facilitating ideation workshops, showing best practice journeys from leading brands, and microsite creation and customer testing (ethnography, depth interviews, focus groups and surveys). I have created and launched end to end mobile customer experiences in both fiat and crypto banking, including wireframing, storyboarding and customer testing. </p>
        </div>
        <div class="work-box">
            <h3>Speaking</br> Engagements</h3>
            <div class="work-ornament-2"></div>
            <p>I keynote and moderate events around the world. My recent keynote speeches include:</p>
            </br>
            <p>Fintech Matters and Finance Innovate: Connecting the European FinTech Ecosystems (Bergen, Norway)</p>
            <p>“Exceptional Customer Experiences”</p>
            </br>
            <p>CR2 Digital Banking Conference 2018 (Dubai, UAE)</p>
            <p>“The Importance of Mobile: What does an exceptional customer experience look like and how can we achieve this?”</p>
            </br>
            <p>API Days 2017 (Berlin, Germany)</p>
            <p>“Winning customer journeys: Who has already capitalised on open banking and what does this mean for customers?”
            </p>
        </div>
        <div class="work-box">
            <h3>Fintech</br> Tours</h3>
            <div class="work-ornament-2"></div>
            <p>I tap into my global network of fintechs, experts and accelerators to curate fintech tours. These tours are typically targeted towards banking or corporate executives who are looking to meet fellow bankers to gain inspiration, meet fintechs of strategic interest and understand why certain cities are hubs in digital financial services.
            </p>
        </div>
    </div>

    <div id="partners" class="one-page">
        <div class="partners-headline">
            <!-- <image class="partners-ornament" src="partners.svg"> -->
            <div class="partners-ornament-1"></div>
            <h2>Partners</h2>
        </div>

        <!-- <div id="partners-text">

            <p>I'm supported by some of the brightest minds in product development, fundraising, data and fintech strategy. Whether it be vendor selection, the need for a blockchain based marketplace or rapid product creation, my network can augment my work to fit your requirements.</p>
        </div> -->
        <div id="partners-logos">

            <div class="partner-logo">
                <img class="partner-logo-img" src="FTM_LOGO_18_1Z_white_hq.png" alt="">
            </div>
            <div class="partner-logo">
                <img class="partner-logo-img" src="xyzwhite.png" alt="">
            </div>
            <div class="partner-logo">
                <img class="partner-logo-img" src="Logo-grey.png" alt="">
            </div>
            <div class="partner-logo">
                <img class="partner-logo-img" src="Elsewhen_Wordmark_White_Large.png" alt="">
            </div>
        </div>
    </div>

    <div id="blog" class="one-page">
        <div id="contact-headline">
            <div id="contact-logo">
                <div class="blog-ornament-1"></div>
                <image class="blog-ornament" src="blog.svg">
                <div class="blog-ornament-1"></div>
            </div>
            <h2>Blog</h2>
        </div>
        Blog page content goes here.
    </div>

    <div id="contact" class="one-page">
        <div id="contact-headline">
            <div id="contact-logo">
                <div class="contact-ornament-1"></div>
                <image class="contact-ornament" src="contact.svg">
                <div class="contact-ornament-1"></div>
            </div>
            <h2>Get in touch</h2>
        </div>
            <div id="contact-box">

                <form id="contact-form" action="https://formspree.io/chrstn.sdntp@gmail.com" method="POST">
                    <div class="contact-input">
                        <label for="name"><h3>Name:</h3></label>
                        <input type="text" name="name" required placeholder="REQUIRED">
                    </div>
                    <div class="contact-input">
                        <label for="email"><h3>Email:</h3></label>
                        <input type="text" name="_replyto" required placeholder="REQUIRED">
                    </div>
                    <div class="contact-input">
                        <label for="company"><h3>Company name:</h3></label>
                        <input type="text" name="company" required placeholder="REQUIRED">
                    </div>
                    <div class="contact-input">
                        <label for="phone"><h3>Telephone number:</h3></label>
                        <input type="text" name="phone" required placeholder="REQUIRED">
                    </div>
                    <div class="msg-input">
                        <label for="msg"><h3>Other details:</h3></label>
                        <textarea name="msg" required placeholder="TYPE YOUR MESSAGE HERE"></textarea>
                    </div>
                    <div class="form-btn-box">
                        <button id="submit-btn" type="submit" value="send">
                            <p>send</p>
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
