* {
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    overflow-x: hidden;
    width: 100vw;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

#container {
    z-index: -99;
}


h1 {
    line-height: 1.25em;
    text-transform: uppercase;
    font-size: 44px;
    font-family: "Barlow Condensed", "Roboto", Arial, sans-serif !important;
    letter-spacing: 2px;
}

h2 {
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Barlow Condensed", "Roboto", "Arial", sans-serif !important;
}

h3 {
    line-height: 1.25em;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Barlow Condensed", "Roboto", "Arial", sans-serif;
}

nav {
    position: relative;
    top: 40px;
}

#scroll-box {
    display: block;
}

.hidden {
    transform: translateX(10000px);
}


.one-page {
    min-height: 100vh;
    max-height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    border: 2px dotted pink;
}

.one-page:nth-child(2n+1) {
    background: #000;
    color: white;
}

.one-page:nth-child(2n) {
    background: #f7f7f7;
}

/****************** HOME ***************************/
#home {
    background: transparent;
    color: white;
}

#home h1 {
    font-size: 98px;
}
#home h2 {
    padding: 20px;
}

#home-ornament-1 {
    height: 4px;
    width: 210px;
    background: #34d5ac;
    margin-top: 20px;
}

#home-ornament-2 {
    height: 2px;
    width: 170px;
    background: #34d5ac;
    margin-top: 8px;
}

#home-ornament-3 {
    height: 1px;
    width: 130px;
    background: #34d5ac;
    margin-top: 8px;
}


/*************** ABOUT ***************************/
#about {
    padding: 0 5vw;
}

#about-1 h2 {
    /* column-count: 2; */
    font-size: 30px;
    margin-bottom: 20px;
    padding: 0 5%;
}

#about-2 {
    padding: 30px 16%;
    font-weight: bold;
}

#about-logo {
    display: flex;
    flex-direction: row;
}

.about-ornament-1 {
    width: 160px;
    height: 3px;
    background: #34d5ac;
    margin: 60px -10px 20px;
}

.about-ornament-2 {
    width: 160px;
    height: 3px;
    background: #34d5ac;
    margin: 60px -20px 20px;
}

#bloom-div {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;

}

#bloom-ornament {
    position: relative;
    top: -20px;
    height: 300px;
}

#flourish-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flourish-ornament {
    position: relative;
    top: -400px;
    margin: -220px 0 -400 35px;
}

/************ PRINCIPLES ***************************/#
#principles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#principles-ornament {
    position: absolute;
    height: 400px;
    transform: translateY(-100px);
    margin-left: -200px;
}

#principles-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: white;
}

#principles-1,
#principles-2 {
    width: 50%;
    padding: 10px 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.three-principles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border: 2px dotted green;
}

.smaller-font {
    font-size: 0.9rem;
}

.three-principles p {
    text-align: left;
}

.three-principles a {
    color: white;
}

.three-principles a:hover {
    text-decoration: none;
    color: #34d5ac;
}

.principles-number {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #34d5ac;
    color: black;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.principles-text-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border: 2px dotted green;
    text-align: left;
}
/**************** WORK *******************/
#work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#work-headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work-logo {
    display: flex;
    flex-direction: row;
}

.work-box {
    width: 40%;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-ornament {
    position: absolute;
    height: 600px;
    margin-left: 124px;
    transform: translateY(-140px);
}

.work-ornament-1 {
    width: 160px;
    height: 3px;
    background: #34d5ac;
    margin: 60px 30px 20px;
}

.work-ornament-2 {
    width: 80px;
    height: 3px;
    background: #34d5ac;
    margin: 28px 0;
}

/**************** PARTNERS *************************/
#partners {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
}

#partners-text {
    position: relative;
    flex-grow: 1;
    padding: 0 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners-headline {
    margin-top: 80px;
}

.partners-ornament {
    position: absolute;
    height: 820px;
    margin-left: -450px;
    transform: translateY(-150px);
}

.partners-ornament-1 {
    height: 3px;
    width: 60px;
    background: #34d5ac;
    margin: 0 24px 20px;
}

#partners-logos {
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
    color: dimgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partner-logo {
    padding: 0 30px;
}

.partner-logo-img {
    width: 120px;
}

/***************** BLOG **********************/

.blog-ornament {
    height: 72px;
    transform: translateY(-30px);
}

.blog-ornament-1 {
    width: 160px;
    height: 3px;
    background: #34d5ac;
    margin: 0 10px;
}

/**************** CONTACT ********************/
#contact {
    min-height: 130vh;
    background: #f7f7f7;
    color: #000;
}

#contact-headline {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

#contact-logo {
    display: flex;
    flex-direction: row;
}

.contact-ornament {
    height: 60px;
    transform: translateY(-24px);
}

.contact-ornament-1 {
    width: 160px;
    height: 3px;
    background: #34d5ac;
    margin: 0 12px 20px;
}

#contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10vw;
    border: 1px dotted yellow;
}

.contact-input {
    padding: 20px 2vw;
}

.contact-input label {
    display: block;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 16px;
}

.contact-input input {
    display: block;
    width: 33vw;
    height: 40px;
    padding: 8px 12px;
    font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;
    font-weight: bold;
}

.contact-input input:focus {
    border: 2px solid #34d5ac;
    outline: none;
}


.msg-input {
    width: 100%;
    padding: 30px 2vw;
}

.msg-input label {
    display: block;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 16px;
}

.msg-input textarea {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 12px 12px;
    font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;
    font-weight: bold;
    resize: none;
}

.msg-input textarea:focus {
    border: 2px solid #34d5ac;
    outline: none;
}

.form-btn-box {
    padding-top: 40px;
    width: 100%;
}

#submit-btn {
    height: 40px;
    width: 200px;
    border: none;
    background: #34d5ac;
    color: #f7f7f7;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

#submit-btn p {
    float: left;
    padding: 2px 0 0 66px;
    font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;
    letter-spacing: 1px;
}

.fa-paper-plane {
    float: right;
    color: white !important;
}



/*************** HEADER ***************/
header {
    position: absolute;
    top: 0;
    height: 100px;
    background: transparent;
    color: white;
    width: 100%;

}

#header-outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin: 20px 7vw;
}

.header-fox {
    float: left;
    height: 40px;
    width: 40px;
}

#hamburger {
    float: right;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.fas.fa-bars {
    color: white;
    font-size: 36px;
}

.fox-logo {
    height: 100px;
}

/********************* FOOTER **************/
footer {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    color: white;
    border: 1px dotted gold;
}

#contact-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 40px 30px 40px;
}

#divider {
    height: 1px;
    width: 80%;
    background: dimgrey;
    align-self: center;
}

.contact-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
    flex-grow: 1;
}

.contact-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
    flex-grow: 1;
}

.fas {
    color: #34d5ac;
    font-size: 1.5em;
    padding-right: 10px;
}

.fab {
    color: white;
    font-size: 1.5em;
}

.social-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #34d5ac;
    border-radius: 50%;
    margin: 0 20px;
}

#contact-2 {
    text-align: center;
    padding: 40px 30px 40px;
}


/****************** MODAL ******************/

#modal-outer {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 100;
}

#modal-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #f7f7f7;
    margin: auto 7vw;
    padding-top: 20px;
}

#nav-x {
    padding: 20px 0;
}

#nav-x i {
    font-size: 2rem;
    cursor: pointer;
}

.nav-main a {
    text-decoration: none;
    color: #f7f7f7;
    align-content: flex-end;
}


.nav-main a:hover {
    color: #34d5ac;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.nav-header i {
    font-size: 24px;
    color: inherit;
    height: 80px;
}

.nav-main {

}

.nav-divider {
    background: #f7f7f7;
    height: 1px;
    margin: 20px 0;
}

.nav-social {
    display: flex;
    flex-direction: row;
    color: #34d5ac;
    padding: 10px 5px;
}

.nav-social-logo i {
    margin-right: 60px;
    color: #34d5ac;
    font-size: 1.75em;
}

.hidden {
    transform: translateX(10000px);
}
